@media (max-width: 767px) {
  .navbar-collapse {
    display: inherit;
  }

  .nav-item {
    margin-left: 1rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .navbar .smicon {
    width: 2rem;
    margin-left: 5px;
    margin-right: -25px;
  }

  .navbar li a {
    font-size: 0.8rem;
  }

  .card-body {
    flex: none;
  }

  .projbadge {
    flex-direction: column;
  }

  .projbadge .refdiv,
  .container .smbtncarto {
    width: 50%;
  }

  .container .display-3 {
    font-size: 2.2rem;
  }

  .container .h2sm {
    font-size: 1.8rem;
  }

  .container .h3sm {
    font-size: 1.4rem;
  }

  .container .h4sm {
    font-size: 1rem;
  }
}

@media (max-width: 990px) {
  /* About, Contact page images */
  .im-c {
    margin-top: 5%;
    max-width: 80%;
  }
}

/* Common styles */
.float-right {
  float: right;
}

.navbar {
  padding-bottom: 0px;
  padding-top: 0px;
}

body {
  padding-top: 3.5rem;
}

/* Homepage */
/* Navbar icon */
.mdicon {
  width: 3.1rem;
  margin-left: 10px;
}

.borderbtm {
  border-bottom: solid;
}

.projcont,
.projdiv,
.projbadge {
  display: flex;
}

.projcont {
  flex-wrap: wrap;
  justify-content: center;
}

.projdiv {
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 1%;
}

.card {
  height: 210px;
  width: 95%;
  max-width: 18rem;
}

.card .card-header,
.refdiv {
  text-align: center;
}

.refdiv {
  margin-right: 2%;
  width: 15%;
}

.margbtmthin {
  margin-bottom: 3%;
}

#projstat {
  margin-top: 5%;
  margin-bottom: 2%;
}

.bg-customgray {
  background-color: #e9ecef;
}

.bg-customaqua {
  background-color: #17a2b8;
}

#reposh3 {
  padding-left: 0px;
}

.tooltip-cpb {
  visibility: hidden;
  background-color: #fff;
  color: #555;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  left: 50%;
}

/* Footer */
footer {
  border-top: solid;
  border-width: 0.2vw;
  margin-top: 5%;
}

footer a:not(#maila) {
  float: right;
}

#maila:any-link {
  color: inherit;
}

/* Graphics page */
.wallthumb {
  border-color: DarkGray;
  width: 75%;
  margin-bottom: 5%;
}

/* Contact page */
.contactli {
  width: 270px;
}

.copy-btn {
  padding: 5px;
}

.tooltip-cpa {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
}
